.about-title {
  position: relative;
  left: 68%;
  padding-bottom: 10px;
}

.left {
  float: left;
  width: 300px;
  margin-left: 50px;
  padding-right: 50px;
}
.text-content {
  text-align: justify;
  margin-bottom: 3em;
}
