.about-title {
  display: flex;
  justify-content: end;
}

.left {
  float: left;
  width: 300px;
  margin-left: 50px;
  padding-right: 50px;
}
.text-content {
  text-align: justify;
  margin-bottom: 3em;
}
