.about-title {
  display: flex;
  justify-content: end;
}

.left {
  float: left;
  width: 300px;
  margin-left: 50px;
  padding-right: 50px;
}
.text-content {
  text-align: justify;
  margin-bottom: 3em;
}

@media screen and (max-width: 800px) {

  .about-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
    .text-content{
     margin-bottom: 0;
    }

    .left {
      
      width: 100px;
      margin: 10px;
      padding: 10px;
    }
}
