.page {
  width: 100%;
  height: auto;
  margin: 1em;
  will-change: contents;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.contact-page,
.homePage,
.menu-page {
  width: 100%;
  .text-box {
    margin: 2em 5em 2em 8em;
  }

  h1 {
    font-size: 120px;
    font-family: 'Boho';
    color: #29323e;
    font-weight: 100;
    margin: 0;
    position: relative;
    left: -10px;
    letter-spacing: 3px;
  }

  p {
    font-size: 16px;
    color: #6e6e6e;
    font-family: 'Lato';
    font-weight: normal;
    min-width: fit-content;
    margin-top: -20px;
    padding-right: 15px;
    animation: fadeIn 1s 1.8s backwards;
  }

  h2 {
    color: #6e6e6e;
    font-weight: 400;
    font-family: 'Lato';
    letter-spacing: 2px;
    line-height: 1.5;
    animation: fadeIn 1s 1.8s backwards;
    margin: 0 0 1em 0;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.logo {
  object-fit: cover;
  width: 100px;
  margin-left: 150px;
  margin-top: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 28px;
  background: #ec2d32;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px;
  cursor: pointer;
  animation: fadeIn 1s;

  &:hover {
    background: #29323e;
    color: #fff;
  }
}

@media screen and (max-width: 450px) {
  img {
    object-fit: contain;
    width: 100px;
  }
}
