.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  object-fit: cover;
  width: 150px;
  margin-left: 150px;
  margin-top: 10px;
}

.page {
  margin: 1em;
}

.container {
  will-change: contents;
  position: absolute;
  transform-style: preserve-3d;
}

@media screen and (max-width: 450px) {
  img {
    object-fit: contain;
    width: 100px;
  }
}
