.navbar {
    top: 10%;
    height: auto;

    .hamburger {
        position: absolute;
        top: 7%;
        left: 7%;
    }

    nav { display: none; }

    nav {
        width: 25%;
        top: 10%;

        &.active {
            display: block;
            position: absolute;
            top: 0%;
            left: 0px;
            text-align: center;
            height: 100%;
            border-right: 1px solid #d3d3d3;
            
            a {
            font-size: 22px;
            display: block;
            line-height: 60px;
            text-decoration: none;
            

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ec2d32;
                transform: scale(1.3);

                svg {
                opacity: 0;
                }

                &:after {
                opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 18px;
                letter-spacing: 3px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:nth-child(2) {
                &::after {
                content: 'HOME';
                }
            }
            }

            a.aboutLink {
            &::after {
                content: 'ABOUT US';
            }
            }

            a.menuLink {
            &::after {
                content: 'OUR MENU';
            }
            }
            a.blogLink {
            &::after {
                content: 'BLOG';
            }
            }
            a.contactLink {
            &::after {
                content: 'CONTACT US';
            }
            }
        
            .close {
                position: relative;
                left: -50px;
                padding: 40px;
            }
        }
    }

    .hide {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .navbar {


    }
}
