.footer {
  background: #f5f5f5;
  color: #29323e;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;

    img {
      width: 100px;
      margin: 10px 0;
      text-align: center;
      border-radius: 4px;
      opacity: 0.7;
    }

    p,
    a {
      color: #29323e;
      font-family: 'Lato';
      font-size: 14px;
      text-decoration: none;
      margin-left: 15em;
    }
  }
}
